table {
    width: 100%;
  }
  
  .pull-right {
    float   : right !important;
    position: relative;
  }
  
  tr.ng-star-inserted:not(ng-star-inserted):hover {
    background: #eef5fc;
  }
  
  
.toUseInTable{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toUseInTitle{
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.listStyle{
  list-style: none;
  padding: 0.4rem 0;
}
.p-button.p-button-sm {
  padding: 0.1rem 0.2rem;
}

.buttonStyle {
  width: 1.8rem;
  padding: 0.1rem;
}