<div class="topMenu">
        <div class="grid">
            <div class="col-1" style="padding: 0px;">
                <div class="flex m-2" id="abreMenu">
                    <p-button type="button" class="mostraMenu" icon="pi pi-align-left"></p-button>
                </div>
            </div>
            <div class="col-8 align-items-center" style="padding: 0px;">
                <div class="flex m-2">
                    <h1 style="margin: 0px;" id="logo">Agenda<a id="two">Assessoria</a></h1>
                </div>
            </div>
        </div>
</div>

<div class="flex-grow-1 border-round" style="box-shadow: inset 0px 0px 15px #c3d1ee; min-height: 100vh;" id="conteudo">
    <div class="m-5" >
        <router-outlet></router-outlet>
    </div>
</div>