<p-card>
    <h3>Bem vindo ao Agenda Arquivos</h3>
    <p>
      <img src="../../../../assets/images/InovaTWO.png" alt="Pegar um Svg depois" height="150" width="500">
    </p>
  
    <form (ngSubmit)="onSubmit()" [formGroup]="formLogin" >
      <div class="form-group" >
        <label for="inputUsername" class="label">Usuário</label>
        <div>
          <input type="text" pInputText  fieldSize="large" id="inputUsername" placeholder="Digite aqui seu usuário"formControlName="username" pattern=".+@.+\..+" autofocus>
        </div>
        <!--ng-container *ngIf="formLogin.get('username').invalid && formLogin.get('username').touched">
          <p class="caption status-danger" *ngIf="formLogin.get('username').errors.required">
            Login obrigatório
          </p>
          <p class="caption status-danger" *ngIf="formLogin.get('username').errors.pattern">
            O email deve ser o verdadeiro!
          </p>
        </ng-container-->
      </div>
    
      <div class="form-group">
        <div class="field col-12 md:col-4"> 
          <span class="p-float-label">
            <p-password id="inputPassword" formControlName="password" [feedback]="false"  ></p-password>
            <label for="inputPassword">Senha</label>

          </span>
        </div>
        <!--ng-container *ngIf="formLogin.get('password').invalid && formLogin.get('password').touched">
          <p class="caption status-danger" *ngIf="formLogin.get('password').errors.required"> Senha obrigatório </p>
        </ng-container-->
      </div>
    
      <div class="form-group forgottenPass">
        <a  class="link">Esqueci minha senha</a>
      </div>
      <!-- <div class="form-control-group accept-group">
        <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox>
      </div> -->
    
      <button pButton fullWidth status="primary" size="large"  >
        Log In
      </button>
    </form>
    <p-button label="Click"></p-button>
  </p-card>


  <p-card class="content">
    <div class="grid">
      <div class="col-4"></div>
      <div class="col-4 text-align-center"></div>
      <div class="col-12">
        <p>Bem vindo a Agenda Arquivos</p>
        <p-image src="./" alt="Image" width="130" id="logo"></p-image>
      </div>

      <form form="formLogin">
        <div class="grid p-fluid">
          <div class="col-12">627d7984e2d45cee2ca235e5
            <div class="p-inputgroup">
              <input type="text" pInputText placeholder="Nome de usuário"
               id="username" name="username" formControlName="username"
               required>
            </div>
            <!--ng-container class="alert" *ngIf="!username.valid && username.touched">
              <p id="text-alert" style="text-align: left;">Nome de usuario é obrigatorio!</p>
          </ng-container-->

          </div>
        </div>
      </form>

    </div>

  </p-card>