<p-card>
   <h3 class="toUseInTitle flex justify-content-center  mt-0 mb-0">Seja bem-vindo a Agenda Assessoria</h3>
   <p class="flex justify-content-center pt-2">
       <img src="/assets/images/AgendaArquivosLogo.png"  alt="Logo da ID-Cotton">
   </p>
   <div class="flex justify-content-center">
       <p class="maxWidth">
           <p-card class="text-center">
               <ng-template  pTemplate="header">
                   <div class="title"><h3 class="m-0 color">Contato</h3></div>

               </ng-template>

                   <div class="text-left">
                   <p class="tagDecoration text-xl"><i class="pi pi-phone"></i> +55 (65) 3322-3400 - Fixo</p>
                   <p class="tagDecoration text-xl"><i class="pi pi-envelope"></i> agenda@agendaassessoria.com.br</p>
                   <p><a target="_blank" href="https://pt-br.facebook.com/AgendaAssessoria/" class="tagDecoration  text-xl"><i
                               class="pi pi-facebook"></i> /AgendaAssessoria</a> </p>
                   <p><a target="_blank" href="https://www.instagram.com/agendaassessoria/" class="tagDecoration  text-xl"><i class="pi pi-instagram"></i>
                           @agendaassessoria</a></p>
                   <p><a target="_blank"
                           href="https://www.google.com/maps/dir//agendaassessoria/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x939db22a6f8d0631:0x9868d29f2893225b?sa=X&ved=2ahUKEwid3rXtqP33AhWejJUCHQuDBmUQ9Rd6BAhaEAU"
                           class="tagDecoration text-xl">
                           <i class="pi pi-map-marker"></i> R. Barão de Melgaço, nº 3988 - Centro Norte, Cuiabá - MT, 78005-300
                       </a></p>
                   </div>
              
               
           </p-card>
       </p>
   </div>
</p-card>